body{
	background-color:#fcd3f8;
}

ul,ol,li{margin:0;
padding: 0;
list-style-type:0;}

ol{padding-left:1em;
	display:inline-block;

}

strong{
	font-size:1.5em;
}
strong:hover{color:#fb0177;}



.box{
	width:100%px;
    display:flex;
}

.box1{
    width:21.3125em;
	height:53.75em;
	background-color:white;
	margin-left:11.9375em;
	margin-top:0.5em;
	
	border-radius:10px;
}

.box2{
	width:73.25em;
	height:53.75em;
	background-color:white;
	margin-left:2em;
	margin-top:0.5em;
	display:flex;
	border-radius:10px;
}

.box1-1{
	width:15.3125em;
    height: 13em;
    padding-left:6em;
    padding-top:2em;
}

.box1-2{
	width:20em;
	height:7em;
	margin-left:1em;
	padding-top:0.8em;
	padding-bottom:1em;
	border-top: 2px solid #b2b2b2;
}

.box1-3{
	width:20em;
	height:7em;
	margin-left:1em;
	padding-top:0.8em;
	padding-bottom:1em;
	border-top: 2px solid #b2b2b2;
}

.box1-4{
	width:20em;
	height:7em;
	margin-left:1em;
	padding-top:0.8em;
	padding-bottom:2em;
	border-top: 2px solid #b2b2b2;
}

.box1-5{
	width:20em;
	height:7em;
	margin-left:1em;
	padding-top:0.8em;
	border-top: 2px solid #b2b2b2;
}

@media screen and (max-width:1920px) {
.box1{
	min-width:21.3125em;
}

.box2{
}
}

@media screen and (max-width:1024px) {
.box1{
	min-width:21.3125em;
	margin-left:0.25em;

    flex-grow:0;
}

.box2{
    width:37.4375em;

}
}

@media screen and (max-width:414px) {
.box{
	flex-direction:column;/*排列方式变换为竖着*/
}

.box1{
    height:51em;
	margin-left:1.25em;

}
.box2{
	width:21.3125em;
    height:80em;
	margin-left:1.25em;
}
}

