body{
	background-color:#fcd3f8;
}

.box1{
	width:20.187em;
	height:53.75em;
	background-color:white;
	float:left;
	margin-left:11.9375em;
	margin-top:0.5em;
}

.box2{
	width:73.25em;
	height:53.75em;
	background-color:white;
	float:left;
	margin-left:2em;
	margin-top:0.5em;
}

@media screen and (max-width:414px) {
.box1{
    width:21.3125em;
    height:51em;
	margin-left:1.25em;
    background-color:black;
}
.box2{
	width:21.3125em;
    height:80em;
	margin-left:1.25em;
    background-color:black;
}
}

@media screen and (min-width:414px) and (max-width:1024px;){
.box1{
	margin-left:1.25em;
    width:19.8125em;
    background-color:white;
}

.box2{
    width:1em;
    background-color:white;
}
}